@using System;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @for (int i = 0; i < 10; i++)
    {
        <p> <span class="fw-bold">@Guid.NewGuid().ToString() - @DateTime.UtcNow</span></p>
    }

</div>
