@model CategoryEditFormModel

<div class="modal fade" id="em@(Model.Id.Substring(0,4))" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit main category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <input asp-for="Id" type="hidden" />
                        <label asp-for="Name" for="message-text" class="col-form-label">New name:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger small"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" asp-controller="Admin" asp-action="EditMainCategory" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>