@model IEnumerable<AdvertShowingViewModel>

@{
    ViewData["Title"] = "Observed adverts";
}

@if (Model.Any())
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Observed advert will be<strong> automatically removed when advert is deleted!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h2 class="text-center">@ViewData["Title"]</h2>

<partial name="_AdvertCardPartialView" model="Model"/>