.card {
    border-radius: 20px;
    transition: transform .3s;
}

.card:hover{
    transform:translateY(-15px);
    transition:transform .3s;
}

.text1{
    font-size: 13px;
}

.info{
    line-height: 17px;
}

.cost span {
    color: #593196;
    font-weight: bold;
    font-size: 20px;
}

.shoe {
    background-color: #593196;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
* {
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #F37A1D;
}
.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: contain;
}
.carousel-inner .carousel-item img {
    min-height: 200px;
}

@media(max-width:768px) {
    .carousel .carousel-inner {
    }
}
.carousel-inner > .carousel-item > img {
    width: 400px;
    height: 583px;
}
table {
    table-layout: fixed
}

    table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }