@model AdvertFormModel


    <div class="container">
        <div class="row">
            <div class="offset-3 col-6">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name of advert">
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId">Example select</label>
                        <select asp-for="CategoryId" class="form-select js-example-basic-single">
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

