@model AdvertFormModel


<div class="container">
    <div class="row">
        <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-sm-12">

            <h2 class="text-center">Add advert</h2>

            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Name of advert">
                    <span asp-validation-for="Name" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId"></label>
                    <select asp-for="CategoryId" class="form-select">
                        @foreach (var mainCat in Model.Categories)
                        {
                            <optgroup label="@mainCat.Key">
                                @foreach (var category in mainCat.Value)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </optgroup>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Images"></label>
                    <input asp-for="Images" class="form-control" accept="image/heic, image/png, image/jpeg, image/webp" type="file" multiple />
                    <span asp-validation-for="Images" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="5" placeholder="Write what you want to read if you watched this advert"></textarea>
                    <span asp-validation-for="Description" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" placeholder="Price of the product">
                    <span asp-validation-for="Price" class="text-danger small"></span>
                </div>
                <div>
                    <input class="mt-3 text-center btn-primary" type="submit" value="Save" />
                </div>
            </form>

        </div>
    </div>
</div>

