@model UserAdvertsModel

@{
    ViewData["Title"] = Model.User.Firstname + " adverts";
}

<div class="container">
    <div class="row mt-4 fs-5">
        <div class="bg-light offset-md-2 col-md-8 p-2 border border-primary rounded">
            <div class="row">
                <div class="col-md-1">
                    <img src="@Model.User.UserProfilePictureURL" alt="Profile Picture" class="img-responsive" style="max-height: 50px; max-width: 50px;">
                </div>
                <div class="col-md-4">
                    <p class="mb-0 text-dark fw-bold text-break">@Model.User.Firstname @Model.User.Lastname</p>
                    <p class="m-0 text-dark text-muted text-break small">User since  @Model.User.UserSince.ToString("MM/dd/yyyy") </p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom border-primary mt-2">
        <span class="fs-3 fw-bold">Adverts</span>
    </div>

    <partial name="_AdvertCardPartialView" model="Model.Adverts" />
</div>